{% extends 'zikmontFrontEndBundle::layout_app.html.twig' %}
{% block content %}
        <!-- Main hero unit for a primary marketing message or call to action -->
        <div class="hero-unit principal">
            <h1>Zikmont, La forma fácil de hacerlo!</h1>
            <p>Aplicaciones, soporte, magia, automatizacion, rentabilidad, informacion, actualidad, mensualidad, cube, nube, servidores, computadoras, efectividad, control, contabilidad... realidad y un verbo!</p>
            <p><a class="btn btn-primary btn-large" href="{{ path('consulta_general_analisis_general') }}">Empezar &raquo;</a></p>
        </div>
        
        <!-- Example row of columns -->
        <div class="row">
            <div class="span5 section">
                <div class="section-header"><h3>Facilidad</h3></div>
                <div class="section-body">
                    <p>-Imponente proceso de sicologia del software: los componentes de la aplicacion estan diseñados para ser interpretados sin conocimientos extraordinarios de sistemas, un llavero de opciones accesibles desde los diferentes roles de forma intuitiva. </p>
                    <p><a class="btn" href="#">Ver detalles &raquo;</a></p>
                </div>
            </div>
            <div class="span3 section">
                <div class="section-header"><h3>Confiabilidad</h3></div>
                <div class="section-body">
                    <p>Marca no significa talento, las certificaciones de la aplicacion son un artilugio decorativo su potencia radica en la comunidad que lo usa a diario</p>
                    <p><a class="btn" href="#">Mas detalles &raquo;</a></p>
                </div>
            </div>
            <div class="span3 section">
                <div class="section-header"><h3>Comunicacion</h3></div>
                <div class="section-body">
                    <p>Estar siempre disponibles para el soporte caracteriza el nutriente principal de zikmont, estamos ahi para contestar a todas sus preguntas</p>
                    <p><a class="btn" href="#">Mas detalles &raquo;</a></p>
                </div>
            </div>
        </div>

        <hr>

        <footer>
            <p><a href="#">RSS Feed</a> &middot; <a href="#">Most Popular</a> &middot; <a href="#">Today's Favorites</a> &middot; <a href="#">All Time Favorites</a> &middot; <a href="#">Sharing Policy</a> &middot; <a href="http://jigsaw.w3.org/css-validator/check/referer">CSS</a> and <a href="http://validator.w3.org/check?uri=referer">XHTML</a><br />
                &copy; Copyright 2012 Zikmont Link!, Diseñado por: Luka Cvrk, <a title="" href="#">Zikmont</a></p>
        </footer>
{% endblock %}
