{% extends 'zikmontFrontEndBundle::layout_app.html.twig' %}
{% block content %}

<header class="jumbotron subhead" id="overview">
    <div class="subnav">
        <ul class="nav nav-pills">
            <li><a href="{{ path('regenerarkardex') }}">Procesos</a></li>
            <li><a href="{{ path('regenerarkardex') }}">Inventario</a></li>
            <li><a href="{{ path('regenerarkardex') }}">Regenerar Kardex</a></li>
        </ul>
    </div>
</header>
{% endblock %}