                                                       
<script src="{{ asset('js/bootstrap-modal.js') }}"></script>                           
<script> $('#myModal').modal('toggle');</script>

<form id="FrmAsientoNuevo" action="{{ path('contabilidad_control_retenciones_nuevo_comentario', { 'CodigoControlRetenciones': codigoControlRetenciones }) }}" method="post"> 
    <div class="modal hide" id="myModal">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">×</button>
            <h3>Nuevo comentario</h3>
        </div>                   
   
        <div class="modal-body">
            <div class="well">   
                <table class="main-all-table-form" >
                  <td>
                    <tr>          
                       <strong>Comentarios:</strong><br/>
                       <textarea class="span5" id="TxtComentario" name="TxtComentario"  rows=5 placeholder="Comentarios" width="300px"></textarea>
                    </tr>                                     
                 </td>
            </table>
           </div> 
        </div>
            
        <div class="modal-footer">
            <a href="#" class="btn" data-dismiss="modal">Cancelar</a>                
            <button id="link_guardar" class="btn btn-primary" type="submit" name="OpSubmit" value="OpGuardar">Guardar</button>
        </div>
    </div>   
</form>    