
{% extends 'zikmontFrontEndBundle::layout_app.html.twig' %}
{% block content %}
    <br />
 

<table class="table table-bordered">    
  <thead>
    <tr>
      <th>Ordenes Compras</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>...</td>
    </tr>
  </tbody>
</table>

<table class="table table-bordered">  
  <thead>
    <tr>
      <th>Ventas</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>...</td>
    </tr>
  </tbody>
</table>

{% endblock %}