
{% extends 'zikmontFrontEndBundle::layout_app.html.twig' %}
{% block content %}
    <br />
    <table class="table table-bordered">  
    <caption>Almacen</caption>
    <thead>
        <tr>
            <th>Almacen</th>
        </tr>
    </thead>
    <tbody>
        <tr>
        <td>...</td>
        </tr>
    </tbody>
    </table>   
    

{% endblock %}