

{% extends 'zikmontFrontEndBundle::layout_app.html.twig' %}
{% block content %}
    <div class="left_articles">                
        <p class="description"><h2>Configuraciones</h2></p>              
        <table class="ztable">
            
            
        </table>        
        <br />
       
    </div>
{% endblock %}